.hero{
    background: rgba(128, 128, 128, 0.349);
    z-index: -4;
    &__items{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__item-nike{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        background-color: white;
        border-radius: 10px;

    }

    &__title-btn{
        width: 50%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        padding: 10px;
        border: 1px solid goldenrod;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 600;
    }

    

    &__images{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__img-one{
        width: 80%;
        position: absolute;
        z-index: 1;
        top: 20%;
        right: 15px;
    }

    &__img-two{
        width: 100%;     
        z-index: 2;
        border-radius: 10px;
        top: 0;
    }

    &__img-three{
        width: 80%;
        position: absolute;  
        z-index: 3;
        top: 15%;

    }

    &__icon-left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 45%;
        left: -10px;
        border: 5px solid rgba(128, 128, 128, 0.349);
        border-radius: 50px;
        background-color: #fff;
    }

    &__icon-right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 45%;
        right: -10px;
        border: 5px solid rgba(128, 128, 128, 0.349);
        border-radius: 50px;
        z-index: 3;
        background-color: #fff;
    }
    

    &__item-adidas{
        width: 100%;
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__adidas{
        width: 80%;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 10px;
        position: relative;

    }

    &__price-product{
        width: 30%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__title-adidas{
        font-size: 16px;
    }
    &__price{
        font-size: 14px;
        font-weight: 600;
    }
    &__price-sale{
        color: red;
        font-size: 16px;
        font-weight: 700;
    }
    &__price-sale-two{
        color: black;
        font-size: 16px;
        font-weight: 700;
    }
    
    &__sum{
        font-size: 10px
        
        
    }
    &__price-img{
        width: 70%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        padding-right: 80px;
    }

    &__ellipse{
        position: absolute;
        top: 8%;
        right: 18%;
        z-index: 1;
    }

    &__img-sale{
        top: 8%;
        right: 18%;
        z-index: 2;
    }

    &__sale{
        font-size: 20px;
        background-color: red;
        position: absolute;
        bottom: 10px;
        right: -80px;
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transform: rotate(-45deg);
        z-index: 3;
        
    }
    &__sale-two{
        font-size: 20px;
        background-color: #917BFF;
        position: absolute;
        bottom: 10px;
        right: -80px;
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transform: rotate(-45deg);
        z-index: 3;
    }
}

@media (min-width: 1160px){
    .hero{


        &__items{
            display: flex;
            flex-direction: row;
        }
    }
}

