.promotion{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
    
    &__items{
        width: 100%;
        align-items: center;
        gap: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
        
    }

    &__item{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        background-color: #F2F2F2;
        gap: 10px;
        // padding: 20px;
        
    }

    &__title{
        
        position: absolute;
        top: 5px;
        left: -30px;
        font-size: 16px;
        color: white;
        padding: 10px 40px;
        transform: rotate(-40deg);
        background-color: red;
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
    }
    &__icon{
        position: absolute;
        top: 5px;
        right: 10px;
    }
    &__price-sale{
        text-decoration: line-through;
        font-size: 14px;
    }
    &__price{
        font-size: 16px;
    }

    &__btn{
        width: 100%;
        display: flex;
        padding: 10px;
        background-color: orange;
        border: none;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 18px;
        
    }

    &__items.cs{
        
        .promotion__item{
            .promotion__title{
                background-color: blueviolet;
            }
        }
    }

    &__items.three{
        
        .promotion__item{
            .promotion__title{
                background-color: blueviolet;
                display: none;
            }
        }
    }
    &__items.for{
        
        .promotion__item{
            .promotion__title{
                background-color: greenyellow;
                
            }
        }
    }
  
}

